* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bruno Ace", cursive;
  min-width: 100vw;
  text-align: center;
  background-color: rgb(242, 243, 252);
}
.input-container {
  display: flex;
  justify-content: center;
  margin: 24px;
  font-size: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 300px;
}
.input-place {
  font-size: 24px;
  margin-top: 12px;
  padding: 12px;
  height: 32px;
  text-align: end;
  border: 3px solid rgb(255, 99, 71);
  border-radius: 6px;
  background-color: rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-place.invalid {
  border: 3px solid rgb(253, 0, 0);
  background-color: rgb(255, 220, 220);
}
.invalid-input-count {
  color: rgb(253, 0, 0);
  margin-top: 6px;
}
.invalid-input-chars {
  color: rgb(253, 0, 0);
  margin-top: 6px;
}
.hidden {
  visibility: hidden;
}

.btn-passwords {
  background-color: rgb(235, 235, 235);
  border: 5px solid rgb(95, 158, 160);
  padding: 20px 50px;
  font-size: 24px;
  font-family: "Bruno Ace", cursive;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.password {
  display: flex;
  align-items: center;
  padding: 24px;
  width: 500px;
  border-radius: 500px;
  margin: 24px auto;
  font-size: 22px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.text {
  margin-left: 24px;
  width: 100%;
  letter-spacing: 3px;
}
.copy-btn {
  position: relative;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: tomato;
  cursor: pointer;
  border-radius: 50px;
  margin-left: auto;
}
.ph-clipboard-text {
  font-size: 32px;
}
/* TOOLTIP COPY */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 705px) {
  .input-container {
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin: 36px 0 0 0;
  }
  .form {
    width: 60%;
    margin: 0;
  }
  .input-place {
    text-align: center;
  }
}
@media (max-width: 595px) {
  .input-container {
    font-size: 20px;
  }
  .password {
    width: 80vw;
    font-size: 18px;
    padding: 12px;
    margin: 12px auto;
  }
  .text {
    margin-left: 0;
  }
}

@media (max-width: 495px) {
  .form {
    width: 80vw;
  }
  .btn-passwords {
    margin-top: 6px;
    font-size: 16px;
    width: 80vw;
    padding: 15px 30px;
  }
  .password {
    width: 80vw;
    font-size: 12px;
    padding: 12px;
    margin: 12px auto;
  }
}
@media (max-width: 395px) {
  .input-container {
    margin: 24px 0 0 0;
  }
  .form {
    margin-bottom: 12px;
  }
  .input-place {
    height: 16px;
  }
  .invalid-input-chars {
    margin: 0 0 12px 0;
  }
  .invalid-input-count {
    margin: 0 0 12px 0;
  }
  .btn-passwords {
    margin-top: 6px;
    font-size: 16px;
    width: 80vw;
    padding: 10px 40px;
  }
  .text {
    margin-left: 0;
  }
  .hidden {
    display: none;
  }
}
